<html>
	<head>
  		<title>Happy Birthday To You</title>
	</head>
 	<body>
  		<p><img src="1.jpg" alt="parakeet"></p>
  		<p><img src="2.jpg" alt="parakeet"></p>
  		<p><img src="3.jpg" alt="parakeet"></p>
  		<p><img src="4.jpg" alt="parakeet"></p>
  		<p><img src="5.jpg" alt="parakeet"></p>
  		<p><img src="6.jpg" alt="parakeet"></p>
  		<p><img src="7.jpg" alt="parakeet"></p>
  		<p><img src="8.jpg" alt="parakeet"></p>
  		<p><img src="9.jpg" alt="parakeet"></p>	
  		<p><img src="10.jpg" alt="parakeet"></p>
  		<p><img src="11.jpg" alt="parakeet"></p>
  		<p><img src="12.jpg" alt="parakeet"></p>
  		<p><img src="13.jpg" alt="parakeet"></p>
 	</body>
</html>
