<html>
<head>
  <title>Happy Birthday To You </title>
  {% load staticfiles %}
</head>
<body>
  <br>I do not know what to gift you on this day but I do know that you are a gift to me. Happy birthday, girlfriend.</br>
  <img src="{% static '11.jpg' %}" height=300 width=300>
  <img src="{% static '2.jpg' %}" height=300 width=300>
  <img src="{% static '3.jpg' %}" height=300 width=300>
  <img src="{% static '4.jpg' %}" height=300 width=300>
  <img src="{% static '5.jpg' %}" height=200 width=200>
  <img src="{% static '6.jpg' %}" height=200 width=200>
  <img src="{% static '7.jpg' %}" height=200 width=200>
  <img src="{% static '8.jpg' %}" height=200 width=200>
  <img src="{% static '9.jpg' %}" height=200 width=200>
  <img src="{% static '10.jpg' %}" height=200 width=200>

</body>
</html>
