<html>
<head>  
    <title>Happy Birthday to You</title>  
    {% load staticfiles %}  
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">  
    <script src="{% static 'js/bootstrap.min.js' %}"></script>  
<link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}">
<script type="text/javascript">
<!--
var timeout         = 1000;
var closetimer    = 0;
var ddmenuitem      = 0;

// open hidden layer
function mopen(id)
{	
	// cancel close timer
	mcancelclosetime();

	// close old layer
	if(ddmenuitem) ddmenuitem.style.visibility = 'hidden';

	// get new layer and show it
	ddmenuitem = document.getElementById(id);
	ddmenuitem.style.visibility = 'visible';

}
// close showed layer
function mclose()
{
	if(ddmenuitem) ddmenuitem.style.visibility = 'hidden';
}

// go close timer
function mclosetime()
{
	closetimer = window.setTimeout(mclose, timeout);
}

// cancel close timer
function mcancelclosetime()
{
	if(closetimer)
	{
		window.clearTimeout(closetimer);
		closetimer = null;
	}
}

// close layer when click-out
document.onclick = mclose; 
// -->
</script>

</head>
    <body>
        
<ul id="sddm">
    <table border="0" align="center">
            <tr>
                <td>
	<li><a href="#" onmouseover="mopen('m1')" onmouseout="mclosetime()">Home</a>
		<div id="m1" onmouseover="mcancelclosetime()" onmouseout="mclosetime()">
		<a href="login.jsp">Employee</a>
		<a href="#">Banking</a>
		<a href="#">JavaScript DropDown</a>
		<a href="#">DropDown Menu</a>
		<a href="#">CSS DropDown</a>
		</div>
	</li>
                </td>
                <td>
	<li><a href="#" onmouseover="mopen('m2')" onmouseout="mclosetime()">Download</a>
		<div id="m2" onmouseover="mcancelclosetime()" onmouseout="mclosetime()">
		<a href="#">ASP Dropdown</a>
		<a href="#">Pulldown menu</a>
		<a href="#">AJAX dropdown</a>
		<a href="#">DIV dropdown</a>
		</div>
	</li>
                </td>
                <td>
	<li><a href="#" onmouseover="mopen('m3')" onmouseout="mclosetime()">Order</a>
		<div id="m3" onmouseover="mcancelclosetime()" onmouseout="mclosetime()">
		<a href="#">Visa Credit Card</a>
		<a href="#">Paypal</a>
		</div>
	</li>
                </td>
                <td>
	<li><a href="#" onmouseover="mopen('m4')" onmouseout="mclosetime()">Help</a>
		<div id="m4" onmouseover="mcancelclosetime()" onmouseout="mclosetime()">
		<a href="#">Download Help File</a>
		<a href="#">Read online</a>
		</div>
	</li>
                </td>
                <td>
                    <li><a href="#" onmouseover="mopen('m5')" onmouseout="mclosetime()">Contact</a>
		<div id="m5" onmouseover="mcancelclosetime()" onmouseout="mclosetime()">
		<a href="#">E-mail</a>
		<a href="#">Submit Request Form</a>
		<a href="#">Call Center</a>
		</div>
	</li>
                </td>
                <td>
                    <li><a href="#" onmouseover="mopen('m6')" onmouseout="mclosetime()">About Us</a>
		<div id="m6" onmouseover="mcancelclosetime()" onmouseout="mclosetime()">
		<a href="#">Address</a>
		<a href="#">Phone</a>
		<a href="#">Call Center</a>
		</div>
	</li>
                </td>
            </tr>
    </table>
</ul>
            
        
</body>
</html>